.filter-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.tag-button {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  padding: 2px;
  padding-top: 0px !important;
  margin-top: 0 !important;
  margin-left: 5px;
  cursor: pointer;
}

.filter-buttons button {
  padding-top: 5px;
  margin-top: 5px;
}

.filter-tag {
  background-color: lightgray;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  width: fit-content;
  margin-top: 5px;
}
